body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #DDDDDD;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

li
{
float:left;
}

li.active.active
{
background-color:#3e436a;
}

a:link,a:visited
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color:#6e70ca;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}

a:hover
{
background-color:#3e436a;
}
a.active:active
{
background-color:#3e436a;
}
a.active.active
{
background-color:#3e436a;
}

a.email:link,a.email:visited
{
color:#6e70ca;
display:inline;
text-transform:none;
background-color:#DDDDDD;
width:auto;
padding:0px;
text-align:left;
font-weight:normal;
}
a.email:hover
{
color:#FF0000;
}

#footer
{
font-size:xx-small;
}

.status #statuspage, .command #commandpage, .index #indexpage, .command#navigation.commandpage
{ background-color: #3e436a;}

